#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"
#define BOT_TOKEN "YOUR_TELEGRAM_BOT_TOKEN"
#define CHAT_ID "YOUR_CHAT_ID"

#define HX711_CALIBRATION_FACTOR 1.0

const int UID_LENGTH = 4;
const int NUM_AUTHORIZED_UIDS = 2;

byte authorizedUIDs[NUM_AUTHORIZED_UIDS][UID_LENGTH] = {
  {0x01, 0x23, 0x45, 0x67},
  {0x89, 0xAB, 0xCD, 0xEF}
};
